@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

h1 {
    font-family: "Commissioner", sans-serif;
}

p {
    font-family: "Commissioner", sans-serif;
    color: #7e7e7e;
}
body {
    background-color: rgba(250, 250, 250, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header.header {
    width: 100vw;
    height: 255px;
    position: absolute;
}

nav.nav {
    display: flex;
    justify-content: space-around;
}

nav.nav span {
    font-family: "Commissioner", sans-serif;
    margin-right: 15px;
    color: white;
}

.nav {
    background-image: url(images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    height: 354px;
    background-size: cover;
    position: relative;
    padding-top: 40px;
    width: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 738px;
    background-color: white;
    border-radius: 10px;
    z-index: 2;
    margin-top: 300px;
    position: relative;
}

.projectBtn {
    display: flex;
    color: white;
    background-color: hsl(176, 50%, 47%);
    border-radius: 19px;
    align-self: center;
    height: 45px;
    width: 170px;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.projectBtn p {
    color: white;
    font-weight: 500;
}

.projectbookmark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 686px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bookmarkContainer {
    display: flex;
}

.bookmark {
    display: flex;
    background-color: lightgrey;
    border-radius: 30px;
    align-items: center;
    width: 149px;
    height: 45px;
    align-self: center;
    justify-content: flex-end;
    margin-right: 30px;
}

.bookmark p {
    color: hsl(0, 0%, 48%);
}
.bookmarktxt {
    display: flex;
    width: 105px;
    justify-content: center;
}

.bookmark span {
    font-weight: 600;
}

.bookmark svg {
    scale: 80%;
    position: absolute;
    right: 129px;
    opacity: 70%;
}

.logoContainer svg {
    position: absolute;
    top: -32px;
    scale: 90%;
    left: calc(50% - 25px);
}

.boxContent1 {
    margin-top: 25px;
}

.progressWrapper {
    background-color: white;
    width: 686px;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 30px;
}
.progress {
    display: flex;
    background-color: white;
    width: 686px;
    justify-content: space-evenly;
    border-radius: 30px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.bold {
    font-family: 'Commissioner';
    font-weight: 700;
    font-size: 25px;
}
.backersContent{border-left: 1px solid #7e7e7e;
    border-right: 1px solid #7e7e7e;
    width: 228px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txt {
    font-family: 'Commissioner';
    color: #7e7e7e;
    padding-top: 5px;
}

.progressNumContainer {
    background-color: lightgray;
    height: 10px;
    border-radius: 30px;
    margin-left: 55px;
    margin-right: 55px;
}


.progressNum {
    background-color: hsl(176, 50%, 47%);
    height: 10px;
    width: 80%;
    border-radius: 30px;
}